#arena.playerhidden>.player,
#arena.playerhidden>#mebg,
#arena.markhidden>.player>.marks {
  visibility: hidden;
  opacity: 0;
}

#arena.chess>#arenalog {
  display: none !important;
}

#arena.observe .handcards>.card>div {
  opacity: 0 !important;
}

#arena.hide_name {

  .player>.name:not(.name_seat),
  .player>.name2,
  >.dialog .button.character>.name {
    display: none !important;
  }
}

#arenalog {
  width: calc(50% - 210px);
  height: calc(100% - 370px);
  left: calc(50% + 60px);
  top: 200px;
  overflow: hidden;

  &:not(.oldlayout) {
    >#arenalog[data-position="center"] {
      left: calc(25% + 105px);
    }

    #arena:not(.oldlayout)>#arenalog[data-position="left"] {
      left: 150px;
    }
  }

  >div {
    position: relative;
    display: block;
    width: calc(100% - 20px);
    left: 20px;
    line-height: 18px;
  }
}

#arenalog.withdialog {
  opacity: 0.5;
}

#arena.oldlayout> {
  #arenalog {
    top: 160px;
    width: calc(50% - 300px);
    height: calc(100% - 325px);
  }

  #arenalog[data-position="center"] {
    left: calc(25% + 150px);
  }

  #arenalog[data-position="left"] {
    left: 240px;
  }
}

/*#arena[data-font_size='14']{
	font-size:14px;
}
#arena[data-font_size='16']{
	font-size:16px;
}
#arena[data-font_size='18']{
	font-size:18px;
}
#arena[data-font_size='20']{
	font-size:20px;
}*/
#arena {
  width: 94%;
  height: 90%;
  top: calc(5% + 10px);
  left: 3%;
  transition-property: opacity;

  >canvas {
    z-index: 10;
    pointer-events: none;
    position: absolute;
  }

  #me>div>div>.card {
    position: absolute;
    left: 8px;
  }
}

#arena.right {
  &:not(.noleft) {
    left: 240px;
    opacity: 0.6;
  }
}

#arena.left {
  &:not(.noleft) {
    left: calc(10% - 240px);
    opacity: 0.6;
  }
}

#window.leftbar #arena:not(.chess) {
  left: calc(3% + 50px);
  width: calc(94% - 50px);
}

#window.rightbar #arena:not(.chess) {
  width: calc(94% - 50px);
}

#arena.top {
  top: -100%;
}

#arena.paused,
#arena.unfocus,
#historybar.paused {
  opacity: 0.3 !important;
}

#arena.paused2 {
  opacity: 0.1 !important;
}

#arena>.poplayer,
#window>.poplayer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20
}

#arena.only_dialog>div:not(.dialog):not(#control) {
  opacity: 0 !important;
  pointer-events: none !important;
}

#arena.playerfocus {
  >div:not(#timer):not(.playerfocus):not(#chess-container):not(.removing):not(#autonode) {
    opacity: 0.3 !important;
  }

  #arena.playerfocus #chess>div:not(.playerfocus):not(.removing) {
    opacity: 0.3 !important;
  }
}