.button {
    &.character {
        >.name {
            left: 5px;
            top: 22px;
            max-height: 68px;
            overflow: hidden;
        }

        >.hp {
            left: 5px;
            top: 3px;

            &.text {
                top: 8px;
                left: 6px;
                font-family: 'huangcao', 'xinwei';
                font-size: 20px;
                letter-spacing: 3px;
            }
        }

        >.intro {
            top: 71px;
            left: 0;
        }

        >.identity {
            top: -6px;
            left: 72px;
        }

        &.newstyle>.identity {
            /*display: none;*/
            /*box-shadow: none;*/
            /*font-size: 20px;*/
            border: none;
            background: none !important;
            left: auto;
            right: 0.16em;
            top: 0.16em;

            >div {
                &:nth-last-child(2):nth-child(1) {
                    top: -1px;
                    right: 4px;
                }

                &:nth-last-child(1):nth-child(2) {
                    top: 2px;
                    right: -2px;
                }

                &:nth-last-child(3):nth-child(1) {
                    top: -4px;
                    right: 6px;
                }

                &:nth-last-child(2):nth-child(2) {
                    top: -2px;
                    right: -1px;
                }

                &:nth-last-child(1):nth-child(3) {
                    top: 0px;
                    right: -6px;
                }
            }
        }
    }

    &.newstyle {
        >.name {
            top: 8px;
            max-height: 84px;

            &.long {
                top: 6px;
                transform: scale(0.93);
                transform-origin: top left;
            }
        }

        >.hp {

            &,
            &.text {
                left: auto;
                top: auto;
                text-align: right;
                right: 6px;
                bottom: 5px;
            }

            >div {
                width: 10px;
                height: 10px;
                background: rgba(57, 123, 4, 1);
                border: 1px solid rgba(39, 79, 7, 1);
                box-shadow: rgba(0, 0, 0, 0.2) 1px -1px 2px inset, rgba(255, 255, 255, 0.15) -1px 1px 5px inset;

                &.text {
                    background: none !important;
                    box-shadow: none !important;
                    border: none !important;
                    font-family: 'Tiejili';
                    text-align: right;
                    width: auto;
                    height: auto;
                    transform: none !important;
                    text-shadow: black 0 0 2px, black 0 0 3px;
                }
            }

        }
    }
}